<!DOCTYPE html>
<html>
<head>
    <title>Lista de Docentes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Lista de Docentes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Edad</th>
                <th>Correo</th>
                </tr>
        </thead>
        <tbody>
            {% for docente in docentes %}
            <tr>
                <td>{{ docente.nombre }}</td>
                <td>{{ docente.apellido }}</td>
                <td>{{ docente.direccion }}</td>
                <td>{{ docente.edad }}</td>
                <td>{{ docente.correo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>